.body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0; 
    padding: 0; 
}

.container {
    width: 60%;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 100%; 
    overflow: hidden; 
}

.heading h1 {
    color: #333;
    text-align: center;
}

.content {
    margin-top: 20px;
}

.upload-section h2 {
    color: #333;
    text-align: center;
}

.alert {
    background-color: #f8d7da;
    color: #721c24;
    padding: 10px;
    border-radius: 5px;
}

.image-preview {
    text-align: center; 
    margin: 0 auto 20px;
    max-width:
}

.image-preview img {
    max-width: 
    height: auto;
    display: block; 
    margin: 0 auto; 
}

.file-input {
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.submit-button, .return-button {
    display: block; 
    width: 100%; 
    margin: 0 auto; 
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.submit-button:hover, .return-button:hover {
    background-color: #0056b3;
}
